# Node
node_modules/

# Next.js
.web
.next/
out/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env*

# Subfolders
web/node_modules/
web/.next/
web/out/
